.clients {
  margin-bottom: 60px;

  .row {
    border-radius: 12px;
    overflow: hidden;
  }

  .row > div {
    transition: 0.3s;
    &:hover {
      box-shadow: -2px 0px 10px #000000ab;
      transform: scale(1.02);
    }
  }


}