.about-start{
   width: 90%;
  padding: 0 150px;

  &__title{
    font-size: map-get($font-sizes, 'xxl');
    color: map-get($colors, 'accent-color');

  }
  &__description{
    font-size: map-get($font-sizes, 'md');
    color: map-get($colors, 'black');
  }



  .statistics__item h2{
    font-size: map-get($font-sizes, 'x');
    color: map-get($colors, 'accent-color');
  }
    .statistics__item p{
    font-size: map-get($font-sizes, 'sm');
    color: map-get($colors, 'black');
  }
}

