.section-header {
  margin-bottom: 30px;

  &__link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: map-get($font-sizes, 'xs');
    line-height: map-get($font-sizes, 'xs');
    letter-spacing: 1px;
    text-decoration: none;
    color: map-get($colors, 'blue');
    margin-bottom: 20px;
    display: inline-block;
    transition: 0.3s color;

    &:after {
      @extend %bootstrap-icons-base;
      content: "\f285";
      font-weight: 700;
    }

    &:hover {
      color: map-get($colors, 'accent-color');
    }
  }

  &__title {
    @include text-gradient(map-get($colors, 'title-gradient'));
    font-weight: 700;
    font-size: map-get($font-sizes, 'xxl');
    line-height: map-get($font-sizes, 'xxl');
  }
}