@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("./../../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-Black.woff2") format("woff2"), url("./../../fonts/Montserrat-Black.woff") format("woff"), url("./../../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("./../../fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("./../../fonts/Montserrat-BlackItalic.woff") format("woff"), url("./../../fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("./../../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-Bold.woff2") format("woff2"), url("./../../fonts/Montserrat-Bold.woff") format("woff"), url("./../../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("./../../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("./../../fonts/Montserrat-SemiBold.woff") format("woff"), url("./../../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("./../../fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("./../../fonts/Montserrat-ThinItalic.woff") format("woff"), url("./../../fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("./../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-Regular.woff2") format("woff2"), url("./../../fonts/Montserrat-Regular.woff") format("woff"), url("./../../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("./../../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("./../../fonts/Montserrat-ExtraLight.woff") format("woff"), url("./../../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("./../../fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("./../../fonts/Montserrat-BoldItalic.woff") format("woff"), url("./../../fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("./../../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-Medium.woff2") format("woff2"), url("./../../fonts/Montserrat-Medium.woff") format("woff"), url("./../../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("./../../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("./../../fonts/Montserrat-ExtraBold.woff") format("woff"), url("./../../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("./../../fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("./../../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("./../../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("./../../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-Thin.woff2") format("woff2"), url("./../../fonts/Montserrat-Thin.woff") format("woff"), url("./../../fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("./../../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("./../../fonts/Montserrat-MediumItalic.woff") format("woff"), url("./../../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("./../../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-Light.woff2") format("woff2"), url("./../../fonts/Montserrat-Light.woff") format("woff"), url("./../../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("./../../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-Italic.woff2") format("woff2"), url("./../../fonts/Montserrat-Italic.woff") format("woff"), url("./../../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("./../../fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("./../../fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("./../../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("./../../fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("./../../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("./../../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../../fonts/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("./../../fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("./../../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("./../../fonts/Montserrat-LightItalic.woff") format("woff"), url("./../../fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  color: #fff;
  position: relative;
}

.gradient-bg {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 20px;
}
.gradient-bg:before, .gradient-bg:after {
  content: "";
  display: inline-block;
  height: 10px;
  position: absolute;
  border-radius: 0 0 12px 12px;
  left: 50%;
  transform: translateX(-50%);
}
.gradient-bg:before {
  background-color: #CACADB;
  width: calc(100% - 40px);
  bottom: -10px;
}
.gradient-bg:after {
  background-color: #E7E7F2;
  width: calc(100% - 80px);
  bottom: -20px;
}

.dot-after:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
}

.header {
  padding-top: 50px;
  top: 0;
  width: 100%;
}
.header .navbar-toggler {
  color: #fff;
  border-color: #fff;
}
.header .container {
  position: relative;
}
.header .navbar-brand {
  position: relative;
  z-index: 1;
}
.header .navbar-nav {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.header .navbar-nav .nav-item a {
  font-size: 16px;
  color: #24A3FF;
  font-weight: 700;
  padding: 0;
  transition: 0.3s color;
  border-bottom: 2px solid transparent;
}
.header .navbar-nav .nav-item a:hover {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}
.header__top {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 0;
}
.header__lang-switcher input {
  display: none;
}
.header__lang-switcher span {
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #B3B3BA;
  display: inline-block;
  padding: 5px 7px;
  border-radius: 8px;
}
.header__lang-switcher input:checked + span {
  background: #F0145A;
}
.header__address a, .header__contact a, .header__socials a {
  text-decoration: none;
  color: #B3B3BA;
  font-size: 16px;
}
.header__contact a {
  font-weight: 700;
}

@media (max-width: 992px) {
  .header__top {
    top: -30px;
  }
}
@media (max-width: 767px) {
  .header__top {
    top: -40px;
  }
}
@media (max-width: 575px) {
  .header {
    padding-top: 60px;
  }
  .header .navbar-collapse {
    background: #fff;
    padding: 10px;
  }
  .header .navbar-collapse .navbar-nav {
    margin-top: 0;
  }
  .header .navbar-collapse .navbar-nav .nav-item a {
    color: #46466E;
  }
  .header__address, .header__socials {
    display: none !important;
  }
  .header__dot-after:after {
    display: none;
  }
  .header__top {
    top: -60px;
    left: 0;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.44);
    justify-content: space-between !important;
  }
}

.about-start {
  width: 90%;
  padding: 0 150px;
}
.about-start__title {
  font-size: 38px;
  color: #F0145A;
}
.about-start__description {
  font-size: 19px;
  color: #000;
}
.about-start .statistics__item h2 {
  font-size: 36px;
  color: #F0145A;
}
.about-start .statistics__item p {
  font-size: 16px;
  color: #000;
}

.about-end {
  padding: 0 150px;
}
.about-end__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: self-start;
  gap: 60px;
}
.about-end__title {
  font-size: 38px;
  color: #F0145A;
  width: 30%;
}
.about-end__description {
  font-size: 19px;
  color: #000;
  width: 51%;
}
.about-end .statistics__item h2 {
  font-size: 36px;
  color: #F0145A;
}
.about-end .statistics__item p {
  font-size: 16px;
  color: #000;
}

.partners {
  padding: 60px 0;
  background-color: #F5F5FA;
  margin: 0 auto;
}
.partners__content h2 {
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.partners a {
  max-width: 100%;
  max-height: 100%;
}
.partners__member {
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F5F5FA;
  border-radius: 12px;
  overflow: hidden;
}
.partners .carousel-indicators {
  margin: 0;
  bottom: -45px;
}
.partners .carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  background-color: rgba(36, 163, 255, 0.5);
  border-radius: 50%;
}
.partners .carousel-indicators [data-bs-target] .active {
  background-color: #24A3FF;
}

@media (max-width: 992px) {
  .team__member {
    flex-direction: column;
  }
  .team__photo {
    width: 100%;
    min-height: 500px;
  }
  .team__text {
    width: 100%;
  }
}

.footer {
  padding-bottom: 30px;
  background-color: #F5F5FA;
}
.footer a {
  color: #24A3FF;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.footer .dot-after:after {
  background-color: #B3B3BA;
  margin: 3px 6px;
}
.footer .container:before {
  content: "";
  display: block;
  height: 2px;
  background-color: #E6E6F0;
  margin-bottom: 30px;
}
.footer__address, .footer__copyright {
  margin-bottom: 20px;
}
.footer__address {
  color: #323264;
  font-size: 16px;
}
.footer__copyright {
  color: #B3B3BA;
  line-height: 16px;
  text-align: right;
}
.footer__phone a {
  color: #323264;
}

/*# sourceMappingURL=about.css.map */
